*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #222438;
  margin: 0;
  font-family: Poppins;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: repeating-linear-gradient(
    to right,
    transparent 0 50px,
    #fff1 50px 51px
  ),
  repeating-linear-gradient(
    to bottom,
    transparent 0 50px,
    #fff1 50px 51px
  );
  position: relative;
}

form {
  background-color: #eee;
  width: max-content;
  border-radius: 24px;
  padding: 5px;
  margin: 10px;
  display: flex;
  gap: 10px;
}

form input, button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: large;
  cursor: pointer;
}

form input::-webkit-color-swatch-wrapper{
  padding: 0;
}

form input::-webkit-color-swatch {
  border-radius: 50%;
}

#list .note {
  background-color: #333;
  width: max-content;
  border-top: 30px solid #e6b905;
  border-radius: 10px;
  box-shadow: 0 10px 20px #0004;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 50px;
}

#list .note span {
  position: absolute;
  bottom: 100%;
  right: 2px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  font-family: cursive;
  font-size: 1rem;
  cursor: pointer;
}

#list textarea {
  all: unset;
  color: #d6d6d6;
}
